.vbox1 .small-box {
    background-color: #FFFFFF;
  }
.vbox2 .small-box {
    background-color: #F6FC00;
  }
.vbox3 .small-box {
    background-color: #D20000;
  }
.vbox4 .small-box {
    background-color: #D20000;
  }